





@mixin transition($duration:.3s, $type:ease){
    transition-property: all;
    transition-duration: $duration;
    transform-style: $type;
}


@mixin pseudo-element-position($top:0, $right:0, $bottom:0, $left:0){
    content:"";
    position:absolute;
    top:$top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
